techloop{
    padding:5%;
}
techloop h2{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
techloop row1,row2{
    display:block;
    margin-left:5%;
}
#d1,#d2,#d3{
    display:inline-block;
    background-color:#111111;
    width:25%;
    height:15vh;
    color:#ffffff;
    margin-left:2%;
    margin-bottom:2%;
    transition:width,height;
    transition: ease-in;
    transition: ease-out;
    transition-delay: 0.2s;
    border-radius:40px;
}
domain{
    display: inline-block;
    padding-left:2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10%;
}
#d1:hover,#d2:hover,#d3:hover{
    width:30%;
    height:17vh;
    font-size: 20px;
}

#read{
    text-decoration: none;
    color:#215af8;
}

form{
    background-size:100%;
    display:none;
    margin-left:10%;
}

#form{
    margin-left:42%;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border-radius:35px;
    border: 2px solid #0000ff;
    font-family:Arial, Helvetica, sans-serif;
    color: #0000ff;
    width:15%;
    height:6vh;
    font-size: medium;
}

#normal{
    width:15%;
    border: 2px solid #0000ff;
    border-radius:30px;
    display:block;
    height:4vh;
}
